<ng-container *ngIf="isLoading; else detailContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading Detail...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #detailContent>
  <div class="card">
    <div class="card-header">
      <strong>Promotion Profile</strong>
    </div>
    <div class="card-body">
      <strong>Promotion Information</strong>
      <div class="card-header-actions d-flex">
        <span class="mr-3 d-sm-down-none font-weight-bold">{{promotionStatus}}</span>
        <label class="switch switch-info">
          <input (click)="toggleActive()" type="checkbox" class="switch-input" [checked]="isActive">
          <span class="switch-slider"></span>
        </label>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion No.</dt>
            <dd class="col-sm-8">{{promotion.promotion_no || 'N/A'}}</dd>

            <dt class="col-sm-4">Promotion Title</dt>
            <dd class="col-sm-8">{{promotion.promotion_title}}</dd>

            <dt class="col-sm-4">Promotion Category</dt>
            <dd class="col-sm-8">Diwali Sale</dd>

            <dt class="col-sm-4">Promotion Products</dt>
            <dd class="col-sm-8">
              <span class="badge rounded-pill bg-secondary mr-1">product 1 </span>
              <span class="badge rounded-pill bg-secondary mr-1">product 2 </span>
            </dd>
            <dt class="col-sm-4">Promotion Image</dt>
            <dd class="col-sm-8">
              <img *ngIf="promotion.promotion_image; else noImage" [src]="promotion.promotion_image"
                   class="img-thumbnail" alt="Product Brand Image">
              <ng-template #noImage>No Image</ng-template>
            </dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion ID</dt>
            <dd class="col-sm-8">{{promotion._id}}</dd>

            <dt class="col-sm-4">Promotion Start Date</dt>
            <dd class="col-sm-8">{{promotion.promotion_start_date | date: 'medium' }}</dd>

            <dt class="col-sm-4">Promotion End Date</dt>
            <dd class="col-sm-8">{{promotion.promotion_expire_date | date: 'medium' }}</dd>
          </dl>
        </div>
      </div>
      <strong>Document Information</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion Created Date</dt>
            <dd class="col-sm-8">{{promotion.promotion_created_date | date: 'medium'}}</dd>

            <dt class="col-sm-4">Promotion Modified Date</dt>
            <dd class="col-sm-8">{{promotion.promotion_modified_date | date: 'medium'}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion Status</dt>
            <dd class="col-sm-8">{{promotion.promotion_status_is_active ? 'Active' : 'Inactive'}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
      <div class="card-header-actions">
        <button class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-close"></i> Delete</button>
      </div>
    </div>
  </div>
</ng-template>
