<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #userLoginForm [formGroup]="loginForm" (ngSubmit)="onSubmit(userLoginForm)">
                  <h1>Admin Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="user_email" class="form-control"
                           [ngClass]="{ 'is-invalid': (submitted || f.user_email.touched) &&
                          (f.user_email.errors.required || (f.user_email.errors.pattern && f.user_email.errors.hasMobileNumber)) }"
                           placeholder="Email/Mobile Number"/>
                    <div *ngIf="(submitted || f.user_email.touched) && f.user_email.errors" class="invalid-feedback">
                      <div *ngIf="f.user_email.errors.required">Email/Mobile Number is required</div>
                      <div *ngIf="f.user_email.errors.pattern && f.user_email.errors.hasMobileNumber">
                        Enter valid Email/Mobile Number
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="user_password" class="form-control"
                           [ngClass]="{'is-invalid': (submitted || f.user_password.touched) && f.user_password.errors}"
                           placeholder="Password"/>
                    <div *ngIf="(submitted || f.user_password.touched) && f.user_password.errors"
                         class="invalid-feedback">
                      <div *ngIf="f.user_password.errors.required">Password is required</div>
                      <div *ngIf="f.user_password.errors.minlength">Must be at least 8 characters!</div>
                      <div *ngIf="f.user_password.errors.maxlength">should not exceed 26 characters!</div>
                    </div>
                  </div>
                  <div class="input-group mb-3" *ngIf="inValidUser">
                    <div class="text-danger">
                      Invalid Username or Password
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                  <span class="align-items-center">
                    <h2>TechArdors Shopping</h2>
                    <p>Login to admin dashboard to manage business related information.</p>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
