<ng-container *ngIf="isLoading; else detailContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading Detail...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #detailContent>
  <div class="card">
    <div class="card-header">
      <strong>{{ userInformation.user_full_name | titlecase }} Profile</strong>
    </div>
    <div class="card-body">
      <strong>User Information</strong>
      <div class="card-header-actions d-flex">
        <span class="mr-3 d-sm-down-none font-weight-bold">{{userStatus}}</span>
        <label class="switch switch-info">
          <input (click)="toggleActive()" type="checkbox" class="switch-input" [checked]="isActive">
          <span class="switch-slider"></span>
        </label>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">User No.</dt>
            <dd class="col-sm-8">{{userInformation.user_no || 'N/A'}}</dd>

            <dt class="col-sm-4">User Full Name</dt>
            <dd class="col-sm-8">{{userInformation.user_full_name}}</dd>

            <dt class="col-sm-4">User Email</dt>
            <dd class="col-sm-8">{{userInformation.user_email}}</dd>

            <dt class="col-sm-4">User Phone</dt>
            <dd class="col-sm-8">{{userInformation.user_phone}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">User ID</dt>
            <dd class="col-sm-8">{{userInformation._id}}</dd>

            <dt class="col-sm-4">User Permission Group</dt>
            <dd class="col-sm-8">{{userInformation.user_permission_group.permission_group_name}}</dd>

            <dt class="col-sm-4">User Visits</dt>
            <dd class="col-sm-8">{{userInformation.user_visits}}</dd>
          </dl>
        </div>
      </div>
      <strong>Document Information</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">User Created Date</dt>
            <dd class="col-sm-8">{{userInformation.user_created_date | date: 'medium'}}</dd>

            <dt class="col-sm-4">User Modified Date</dt>
            <dd class="col-sm-8">{{userInformation.user_modified_date | date: 'medium'}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">User Status</dt>
            <dd class="col-sm-8">{{userInformation.user_status_is_active ? 'Active' : 'Inactive'}}</dd>

            <dt class="col-sm-4">User Last Login</dt>
            <dd class="col-sm-8">{{userInformation.user_last_logged_in | date:'medium'}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" disabled (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
      <div class="card-header-actions">
        <button class="btn btn-sm btn-danger" disabled (click)="delete()"><i class="fa fa-close"></i> Delete</button>
        <button class="btn btn-sm btn-warning" disabled (click)="resetPassword()"><i class="fa fa-unlock"></i> Reset Password
        </button>
      </div>
    </div>
  </div>
</ng-template>
