<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong>{{tableTitle}} List View</strong>
        </div>
        <div class="card-body">
          <div class="float-left float-md-right mb-3">
            <button class="btn btn-secondary" tooltip="Edit" type="button" (click)="registerScreen()">
              <i class="fa fa-plus-square-o"></i> Register
            </button>
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th *ngFor="let name of columnNames">{{name}}</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let element of entityData">
              <td
                *ngFor="let column of columns">{{ column.type === 'date' ? (element[column.id] | date: 'mediumDate') : element[column.id] }}</td>
              <td>
                <button class="btn btn-primary" tooltip="View" type="button" (click)="detailScreen(element._id)"><i
                  class="fa fa-info-circle"></i></button>
                <button class="btn btn-warning" disabled tooltip="Edit" type="button"><i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" disabled tooltip="Delete" type="button"><i class="fa fa-close"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
