<ng-container *ngIf="isLoading; else viewContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading View...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #viewContent>
  <base-table
  [entityData]="productCategories"
  [tableTitle]="tableTitle"
  [columnDefinition]="columnDefinition">
 </base-table>
</ng-template>
