<ng-container *ngIf="isLoading; else registerContent">
    <div class="card">
        <div class="card-header">
            <strong>{{loadingMessage}}</strong>
        </div>
        <div class="card-body">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</ng-container>
<ng-template #registerContent>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="card">
            <div class="card-header">
                <strong>Product Category Register Form</strong>
            </div>
            <div class="card-body">
                <!-- Box 1 -->
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <dl class="row">
                            <dt class="col-sm-8">Enter the details to create a new Product Category</dt>
                        </dl>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <dl class="row">
                            <dt class="col-sm-4">Product Category No.</dt>
                            <dd class="col-sm-8">
                                <input class="form-control input text-center" type="text" readonly [value]="sequence">
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- Box 2 -->
                <strong>Product Category Information</strong>
                <hr>
                <div class="row mb-4">
                    <div class="col-sm-12 col-lg-6">
                        <dl class="row mb-auto">
                            <!-- Product Category Name -->
                            <dt class="col-sm-4 marginTop">Product Category Name</dt>
                            <dd class="col-sm-8 marginTop">
                                <input formControlName="product_category_name" type="text" class="form-control"
                                    [ngClass]="{'is-invalid': (registerForm.get('product_category_name').errors?.required || registerForm.get('product_category_name').errors?.minlength || registerForm.get('product_category_name').errors?.maxlength || registerForm.get('product_category_name').errors?.pattern ) && registerForm.get('product_category_name').touched}" />
                                <div class="error-message-block"
                                    *ngIf="(registerForm.get('product_category_name').errors?.required || registerForm.get('product_category_name').errors?.minlength || registerForm.get('product_category_name').errors?.maxlength || registerForm.get('product_category_name').errors?.pattern ) && registerForm.get('product_category_name').touched">
                                    <small *ngIf="registerForm.get('product_category_name').errors?.required">Please enter product category name</small>
                                    <small *ngIf="registerForm.get('product_category_name').errors?.minlength">Product category name must be more than 3 character</small>
                                    <small *ngIf="registerForm.get('product_category_name').errors?.maxlength">Product category name must be less than 50 character</small>
                                    <small *ngIf="registerForm.get('product_category_name').errors?.pattern">Please enter valid product category name</small>
                                </div>
                            </dd>
                            <!-- Product Category Images-->
                            <dt class="col-sm-4 marginTop">Product Category Images</dt>
                            <dd class="col-sm-8 marginTop">
                                <input type="file" multiple hidden #file (change)="onFileSelect($event)">
                                <button class="btn btn-secondary" (click)="selectFile(file)" type="button">Choose
                                    File</button>
                                <span class="ml-1">{{infoText}}</span>
                                <div class="error-message-block"
                                    *ngIf="registerForm.get('product_category_images').invalid && isProductCategoryImageFieldTouched">
                                    <small *ngIf="registerForm.get('product_category_images').errors?.required">Please upload product category image</small>
                                </div>
                                <div *ngIf="imageUrls.length > 0 " class="mt-1">
                                    <span *ngFor="let name of imageUrls"
                                        class="badge rounded-pill bg-secondary mr-1 p-1">{{name}}
                                        <i (click)="removeImage(name)" class="m-1 icon-close"></i>
                                     </span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <!-- Box 2 -->
                <strong class="mt-5">Product Category Description</strong>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <dl class="row mb-auto mb-lg-3">
                            <!-- Product Category Overview -->
                            <dt class="col-sm-4 marginTop">Product Category Overview</dt>
                            <dd class="col-sm-8 marginTop">
                                <textarea formControlName="product_category_overview" class="form-control"
                                    [ngClass]="{'is-invalid':(registerForm.get('product_category_overview').errors?.required || registerForm.get('product_category_overview').errors?.minlength || registerForm.get('product_category_overview').errors?.maxlength || registerForm.get('product_category_overview').errors?.pattern ) && registerForm.get('product_category_overview').touched}">
                                </textarea>
                                <div class="error-message-block"
                                    *ngIf="(registerForm.get('product_category_overview').errors?.required || registerForm.get('product_category_overview').errors?.minlength || registerForm.get('product_category_overview').errors?.maxlength || registerForm.get('product_category_overview').errors?.pattern ) && registerForm.get('product_category_overview').touched">
                                    <small *ngIf="registerForm.get('product_category_overview').errors?.required">Please enter product category overview</small>
                                    <small *ngIf="registerForm.get('product_category_overview').errors?.minlength">Product category overview must be more than 10 character</small>
                                    <small *ngIf="registerForm.get('product_category_overview').errors?.maxlength">Product category overview must be less than 500 character</small>
                                    <small *ngIf="registerForm.get('product_category_overview').errors?.pattern">Please enter valid category overview</small>
                                </div>

                            </dd>
                            <!-- sub category -->
                            <dt class="col-md-9 marginTop">Does the Product has a Sub Category?
                                <label class="switch switch-label switch-primary switch-box ml-2">
                                    <input (click)="toogleCategory()" type="checkbox" class="switch-input"
                                        [checked]="hasSubCategory">
                                    <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                                </label>
                            </dt>
                            <!-- Product Category Parent -->
                            <dt class="col-sm-4 mt-4">Product Category Parent</dt>
                            <dd class="col-sm-8 mt-4">
                                <ng-select formControlName="product_category_parent" [items]="productCategories">
                                </ng-select>
                                <div class="error-message-block"
                                    *ngIf="registerForm.get('product_category_parent').errors?.required && registerForm.get('product_category_parent').touched">
                                    <small>Please select product category parent</small>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <dl class="row">
                            <!-- Product Category Description -->
                            <dt class="col-sm-4 marginTop">Product Category Description</dt>
                            <dd class="col-sm-8 marginTop">
                                <textarea formControlName="product_category_description" class="form-control"
                                    [ngClass]="{'is-invalid':(registerForm.get('product_category_description').errors?.required || registerForm.get('product_category_description').errors?.minlength || registerForm.get('product_category_description').errors?.maxlength || registerForm.get('product_category_description').errors?.pattern ) && registerForm.get('product_category_description').touched}">
                                </textarea>
                                <div class="error-message-block"
                                    *ngIf="(registerForm.get('product_category_description').errors?.required || registerForm.get('product_category_description').errors?.minlength || registerForm.get('product_category_description').errors?.maxlength || registerForm.get('product_category_description').errors?.pattern ) && registerForm.get('product_category_description').touched">
                                    <small *ngIf="registerForm.get('product_category_description').errors?.required">Please enter product category description</small>
                                    <small *ngIf="registerForm.get('product_category_description').errors?.minlength">Product category description must be more than 10 character</small>
                                    <small *ngIf="registerForm.get('product_category_description').errors?.maxlength">Product category description must be less than 2000 character</small>
                                    <small *ngIf="registerForm.get('product_category_description').errors?.pattern">Please enter valid product category description</small>
                                </div>
                            </dd>
                            <!-- Product Category children -->
                            <dt class="col-sm-4 mt-5">Product Category Children</dt>
                            <dd class="col-sm-8 mt-5">
                                <ng-select formControlName="product_category_children" [items]="productCategories"
                                    [multiple]="true">
                                </ng-select>
                                <div class="error-message-block"
                                    *ngIf="registerForm.get('product_category_children').errors?.required && registerForm.get('product_category_children').touched">
                                    <small>Please select product category children</small>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button [disabled]="registerForm.invalid" class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-user-plus"></i>Register
                </button>
                <button class="btn btn-sm btn-secondary ml-2" type="button" (click)="back()">
                    <i class="fa fa-arrow-left"></i>Back
                </button>
            </div>
        </div>
    </form>
</ng-template>
