<ng-container *ngIf="isLoading; else detailContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading Detail...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #detailContent>
  <div class="card">
    <div class="card-header">
      <strong>Product Category Profile</strong>
    </div>
    <div class="card-body">
      <strong>Product Category Information</strong>
      <div class="card-header-actions d-flex">
        <span class="mr-3 d-sm-down-none font-weight-bold">{{productCategoryStatus}}</span>
        <label class="switch switch-info">
          <input (click)="toggleActive()" type="checkbox" class="switch-input" [checked]="isActive">
          <span class="switch-slider"></span>
        </label>
      </div> 
      <hr>
      <div class="row">
        <div class="col-6">
          <!-- Margin bottom to remove the space between current row and image row. -->
          <dl class="row">
            <dt class="col-sm-4">Product Category No.</dt>
            <dd class="col-sm-8">{{productCategoryInformation.product_category_no || "N/A"}}</dd>

            <dt class="col-sm-4">Product Category Name</dt>
            <dd class="col-sm-8">{{productCategoryInformation.product_category_name}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Category ID</dt>
            <dd class="col-sm-8">{{productCategoryInformation._id}}</dd>
          </dl>
        </div>
        <div class="col-12">
          <dl class="row image">
            <dt class="col-sm-4 col-lg-2">Product Category Images</dt>
            <dd class="col-sm-8 col-lg-10">
              <img *ngFor="let imageUrl of productCategoryInformation.product_category_images"
                   [src]="imageUrl" class="img-thumbnail" alt="Product Category Image">
            </dd>
          </dl>
        </div>
      </div>
      <strong>Product Sub Category Information</strong>
      <hr>
      <div class="row">
        <div class="col-12">
          <dl class="row">
            <dt class="col-sm-2">Product Category Overview</dt>
            <dd class="col-sm-10">{{productCategoryInformation.product_category_overview}}</dd>

            <dt class="col-sm-2">Product Category Description</dt>
            <dd class="col-sm-10">{{productCategoryInformation.product_category_description}}</dd>

            <dt class="col-sm-2">Does Product has sub category?</dt>
            <dd class="col-sm-10">
              {{productCategoryInformation.product_category_has_sub_category ? "Yes" : "No"}}
            </dd>

            <dt class="col-sm-2">Product Category Children</dt>
            <dd class="col-sm-10">
              <span *ngFor="let children of productCategoryInformation.product_category_children"
                    class="badge rounded-pill bg-secondary mr-1">{{children.product_category_name}}</span>
            </dd>

            <dt class="col-sm-2">Product Category Parent</dt>
            <dd class="col-sm-10">
              <span
                class="badge rounded-pill bg-secondary mr-1">{{productCategoryInformation.product_category_name}}</span>
            </dd>
          </dl>
        </div>
      </div>
      <strong>Document Information</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Category Created Date</dt>
            <dd class="col-sm-8">
              {{productCategoryInformation.product_category_created_date | date:'medium'}}</dd>

            <dt class="col-sm-4">Product Category Modified Date</dt>
            <dd class="col-sm-8">
              {{productCategoryInformation.product_category_modified_date | date:'medium'}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Category Status</dt>
            <dd class="col-sm-8">
              {{productCategoryInformation.product_category_status_is_active ? 'Active' : 'Inactive'}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
      <div class="card-header-actions">
        <button class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-close"></i> Delete</button>
      </div>
    </div>
  </div>
</ng-template>
