<ng-container *ngIf="isLoading; else registerContent">
  <div class="card">
    <div class="card-header">
      <strong>{{loadingMessage}}</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #registerContent>
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="card">
      <div class="card-header">
        <strong>User Register Form</strong>
      </div>
      <div class="card-body">
        <!-- Box 1 -->
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <dl class="row">
              <dt class="col-sm-8">Enter the details to create a new User</dt>
            </dl>
          </div>
          <div class="col-sm-12 col-lg-6">
            <dl class="row">
              <dt class="col-sm-4">User No.</dt>
              <dd class="col-sm-8">
                <input class="form-control input text-center" type="text" readonly [value]="sequence">
              </dd>
            </dl>
          </div>
        </div>
        <!-- Box 2 -->
        <strong>User Information</strong>
        <hr>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <dl class="row mb-auto">
              <!-- User Full Name -->
              <dt class="col-sm-4">User Full Name</dt>
              <dd class="col-sm-8">
                <input formControlName="user_full_name" type="text" class="form-control"
                       [ngClass]="{'is-invalid': (registerForm.get('user_full_name').errors?.required || registerForm.get('user_full_name').errors?.minlength || registerForm.get('user_full_name').errors?.maxlength || registerForm.get('user_full_name').errors?.pattern) && registerForm.get('user_full_name').touched }"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_full_name').invalid && registerForm.get('user_full_name').touched ">
                  <small *ngIf="registerForm.get('user_full_name').errors?.required">Please enter your username</small>
                  <small *ngIf="registerForm.get('user_full_name').errors?.minlength">Username must be more than 3
                    character</small>
                  <small *ngIf="registerForm.get('user_full_name').errors?.maxlength">Username must be less than 20
                    character</small>
                  <small *ngIf="registerForm.get('user_full_name').errors?.pattern">Special characters not
                    allowed</small>
                </div>
              </dd>
              <!-- User Email-->
              <dt class="col-sm-4">User Email</dt>
              <dd class="col-sm-8">
                <input formControlName="user_email" type="email" class="form-control"
                       [ngClass]="{'is-invalid': (registerForm.get('user_email').errors?.maxlength || registerForm.get('user_email').errors?.required ||  registerForm.get('user_email').errors?.pattern || registerForm.get('user_email').errors?.notUnique) && registerForm.get('user_email').touched }"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_email').invalid && registerForm.get('user_email').touched">
                  <small *ngIf="registerForm.get('user_email').errors?.required">Please enter your email id</small>
                  <small *ngIf="registerForm.get('user_email').errors?.pattern">Please enter valid email</small>
                  <small *ngIf="registerForm.get('user_email').errors?.maxlength">Email must be less than 50
                    character</small>
                  <small *ngIf="registerForm.get('user_email').errors?.notUnique">Email may be registered
                    already</small>
                </div>
              </dd>
            </dl>
          </div>
          <div class="col-sm-12 col-lg-6">
            <dl class="row">
              <!-- User Phone-->
              <dt class="col-sm-4">User Phone</dt>
              <dd class="col-sm-8">
                <input formControlName="user_phone" type="text" class="form-control"
                       [ngClass]="{'is-invalid': (registerForm.get('user_phone').errors?.required || registerForm.get('user_phone').errors?.notUnique || registerForm.get('user_phone').errors?.pattern) && registerForm.get('user_phone').touched }"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_phone').invalid && registerForm.get('user_phone').touched ">
                  <small *ngIf="registerForm.get('user_phone').errors?.required">Please enter your phone number</small>
                  <small *ngIf="registerForm.get('user_phone').errors?.pattern">Please check your phone number</small>
                  <small *ngIf="registerForm.get('user_phone').errors?.notUnique">Phone may be registered
                    already</small>
                </div>
              </dd>
              <!-- User Permission Group-->
              <dt class="col-sm-4">User Permission Group</dt>
              <dd class="col-sm-8">
                <ng-select [items]="permissionGroups" formControlName="user_permission_group"></ng-select>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_permission_group').invalid && registerForm.get('user_permission_group').touched">
                  <small *ngIf="registerForm.get('user_permission_group').errors?.required">Please select your
                    permission group</small>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <!-- Box 3 -->
        <strong>Address Information</strong>
        <hr>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <dl class="row mb-auto mb-lg-3">
              <!-- Address Type -->
              <dt class="col-sm-4">Address Type</dt>
              <dd class="col-sm-8">
                <ng-select [items]="addressTypes" formControlName="user_address_type"></ng-select>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_address_type').invalid && registerForm.get('user_address_type').touched">
                  <small *ngIf="registerForm.get('user_address_type').errors?.required">Please select your address
                    type</small>
                </div>
              </dd>
              <!-- Area and Street -->
              <dt class="col-sm-4">Unit No.<br> Area and Street</dt>
              <dd class="col-sm-8">
                <textarea formControlName="user_area_and_street" class="form-control"
                          [ngClass]="{'is-invalid':registerForm.get('user_area_and_street').invalid && registerForm.get('user_area_and_street').touched}"></textarea>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_area_and_street').invalid && registerForm.get('user_area_and_street').touched">
                  <small *ngIf="registerForm.get('user_area_and_street').errors?.required">Please enter your
                    address</small>
                  <small *ngIf="registerForm.get('user_area_and_street').errors?.pattern">Special characters not
                    allowed</small>
                  <small *ngIf="registerForm.get('user_area_and_street').errors?.maxlength">Address must be less than
                    200 character</small>
                  <small *ngIf="registerForm.get('user_area_and_street').errors?.minlength">Address must be greater than
                    3 character</small>
                </div>
              </dd>
              <!-- State -->
              <dt class="col-sm-4">State</dt>
              <dd class="col-sm-8">
                <input formControlName="user_state" type="text" class="form-control"
                       [ngClass]="{'is-invalid':registerForm.get('user_state').invalid && registerForm.get('user_state').touched}"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_state').invalid && registerForm.get('user_state').touched">
                  <small *ngIf="registerForm.get('user_state').errors?.required">please select your state</small>
                </div>
              </dd>
            </dl>
          </div>
          <div class="col-sm-12 col-lg-6">
            <dl class="row">
              <!-- City -->
              <dt class="col-sm-4">City</dt>
              <dd class="col-sm-8">
                <input formControlName="user_city" type="text" class="form-control"
                       [ngClass]="{'is-invalid':registerForm.get('user_city').invalid && registerForm.get('user_city').touched}"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_city').invalid && registerForm.get('user_city').touched">
                  <small *ngIf="registerForm.get('user_city').errors?.required">Please enter your city name</small>
                  <small *ngIf="registerForm.get('user_city').errors?.minlength">City must be more than 3
                    character</small>
                  <small *ngIf="registerForm.get('user_city').errors?.maxlength">City must be greater than 20
                    character</small>
                  <small *ngIf="registerForm.get('user_city').errors?.pattern">City must be only alphabet
                    characters</small>
                </div>
              </dd>
              <!-- Pincode -->
              <dt class="col-sm-4">Pincode</dt>
              <dd class="col-sm-8">
                <input formControlName="user_pincode" type="number" class="form-control"
                       [ngClass]="{'is-invalid':registerForm.get('user_pincode').invalid && registerForm.get('user_pincode').touched}"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_pincode').invalid && registerForm.get('user_pincode').touched">
                  <small *ngIf="registerForm.get('user_pincode').errors?.required">Please enter your pincode</small>
                  <small *ngIf="registerForm.get('user_pincode').errors?.pattern">Please enter valid pincode</small>
                </div>
              </dd>
            </dl>
          </div>
        </div>
        <!-- Box 4 -->
        <strong>Credential Information</strong>
        <hr>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <dl class="row mb-auto">
              <!-- Password -->
              <dt class="col-sm-4">Password</dt>
              <dd class="col-sm-8">
                <input formControlName="user_password" type="password" class="form-control"
                       [ngClass]="{'is-invalid': (registerForm.get('user_password').errors?.required || registerForm.get('user_password').errors?.minlength || registerForm.get('user_password').errors?.maxlength || registerForm.get('user_password').errors?.hasNumber || registerForm.get('user_password').errors?.hasCapitalCase || registerForm.get('user_password').errors?.hasSmallCase || registerForm.get('user_password').errors?.hasSpecialCharacters)  && registerForm.get('user_password').touched }"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_password').invalid && registerForm.get('user_password').touched">
                  <small *ngIf="registerForm.get('user_password').errors?.required">Please enter your password</small>
                  <small *ngIf="registerForm.get('user_password').errors?.minlength">Password must be more than 8
                    character</small>
                  <small *ngIf="registerForm.get('user_password').errors?.maxlength">Password must be less than 26
                    character</small>
                  <small *ngIf="registerForm.get('user_password').errors?.hasNumber">Password must contain at least one
                    digit </small>
                  <small *ngIf="registerForm.get('user_password').errors?.hasCapitalCase">Password must contain one
                    upper case letter</small>
                  <small *ngIf="registerForm.get('user_password').errors?.hasSmallCase">Password must contain one lower
                    case letter</small>
                  <small *ngIf="registerForm.get('user_password').errors?.hasSpecialCharacters">Password must contain at
                    least one special character</small>
                </div>
              </dd>
            </dl>
          </div>
          <div class="col-sm-12 col-lg-6">
            <dl class="row">
              <!-- Confirm Password -->
              <dt class="col-sm-4">Confirm Password</dt>
              <dd class="col-sm-8">
                <input formControlName="user_confirm_password" type="password" class="form-control"
                       [ngClass]="{'is-invalid': (registerForm.get('user_confirm_password').errors?.required || registerForm.get('user_confirm_password').errors?.NoPassswordMatch )  && registerForm.get('user_confirm_password').touched }"/>
                <div class="error-message-block"
                     *ngIf="registerForm.get('user_confirm_password').invalid && registerForm.get('user_confirm_password').touched">
                  <small *ngIf="registerForm.get('user_confirm_password').errors?.required">Please enter your
                    password</small>
                  <small *ngIf="registerForm.get('user_confirm_password').errors?.NoPassswordMatch">Password does not
                    match</small>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="registerForm.invalid" class="btn btn-sm btn-primary" type="submit"><i
          class="fa fa-user-plus"></i>Register
        </button>
        <button class="btn btn-sm btn-secondary ml-2" type="button" (click)="back()"><i class="fa fa-arrow-left"></i>Back
        </button>
      </div>
    </div>
  </form>
</ng-template>
