<ng-container *ngIf="isLoading; else detailContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading Detail...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #detailContent>
  <div class="card">
    <div class="card-header">
      <strong>Promotion Category Profile</strong>
    </div>
    <div class="card-body">
      <strong>Promotion Category Information</strong>
      <div class="card-header-actions d-flex">
        <span class="mr-3 d-sm-down-none font-weight-bold">{{promotionCategoryStatus}}</span>
        <label class="switch switch-info">
          <input (click)="toggleActive()" type="checkbox" class="switch-input" [checked]="isActive">
          <span class="switch-slider"></span>
        </label>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion Category No.</dt>
            <dd class="col-sm-8">{{promotionCategory.promotion_category_no || "N/A"}}</dd>

            <dt class="col-sm-4">Promotion Category Name</dt>
            <dd class="col-sm-8">{{promotionCategory.promotion_category_name}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion Category ID</dt>
            <dd class="col-sm-8">{{promotionCategory._id}}</dd>
          </dl>
        </div>
      </div>
      <strong>Promotion Sub Category Information</strong>
      <hr>
      <div class="row">
        <div class="col-12">
          <dl class="row">
            <dt class="col-sm-2">Promotion Category Overview</dt>
            <dd class="col-sm-10">{{promotionCategory.promotion_category_overview}}</dd>

            <dt class="col-sm-2">Promotion Category Description</dt>
            <dd class="col-sm-10">
              {{promotionCategory.promotion_category_description || "N/A"}}
            </dd>

            <dt class="col-sm-2">Does Promotion has sub category ?</dt>
            <dd class="col-sm-10">
              {{promotionCategory.promotion_category_has_sub_category ? "Yes" : "No"}}
            </dd>

            <dt class="col-sm-2">Promotion Category Children</dt>
            <dd class="col-sm-10">
               <span *ngFor="let children of promotionCategory.promotion_category_children"
                  class="badge rounded-pill bg-secondary mr-1">{{children.promotion_category_name || 'None'}}</span>
            </dd>

            <dt class="col-sm-2">Promotion Category Parent</dt>
            <dd class="col-sm-10">
              <span
                class="badge rounded-pill bg-secondary mr-1">{{promotionCategory.promotion_category_name}}</span>
            </dd>
          </dl>
        </div>
      </div>
      <strong>Document Information</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion Category Created Date</dt>
            <dd class="col-sm-8">
              {{promotionCategory.promotion_category_created_date | date:'medium'}}</dd>

            <dt class="col-sm-4">Promotion Category Modified Date</dt>
            <dd class="col-sm-8">
              {{promotionCategory.promotion_category_modified_date | date:'medium'}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Promotion Category Status</dt>
            <dd class="col-sm-8">
              {{promotionCategory.promotion_category_status_is_active ? 'Active' : 'Inactive'}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
      <div class="card-header-actions">
        <button class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-close"></i> Delete</button>
      </div>
    </div>
  </div>
</ng-template>
