// View Screen Styles

// Import CoreUI Styles
@import "~@coreui/coreui/scss/coreui";

// Table styles for larger screen size
table {
  table-layout: fixed;
  width: 100%;
}
.td {
  word-wrap: break-word;
}

// Table styles for smaller screen size
@include media-breakpoint-down(sm) {
  table {
    display: block;
    overflow-y: auto;
  }
  .btn {
    margin-bottom: 5px;
  }
}
