// Detail Screen Styles

// Import CoreUI Styles
@import "~@coreui/coreui/scss/coreui";

// ********** Image thumbnail **********
.img-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
// bottom space between images for mobile phones
@include media-breakpoint-down(sm) {
  .img-thumbnail {
    margin-top: 5px;
  }
}

// ********** Columns **********
// reduce default font weight on column names
dt {
  font-weight: 500;
}

// space between columns for ipad and above
@include media-breakpoint-up(sm) {
  dt {
    margin-bottom: 10px;
  }
}

// space between each section
dl {
  padding-bottom: 20px;
}

// Negate space between normal row and image row
dl.image {
  margin-top: -35px;
}
