// Register Screen Styles

// Import CoreUI Styles
@import "~@coreui/coreui/scss/coreui";

// styles to display the error message one at a time.
.error-message-block {
  small {
    display: none;
    &:first-child {
      display: inline;
    }
  }
}

// text color for all validation errors
small {
  color: #f86c6b !important;
}

// to remove cross icon from the input box.
input {
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  background-image: none !important;
}

// remove the resize property from the textarea
textarea {
  resize: none;
  background-image: none !important;
}

// reduce default font weight on column names
dt {
  font-weight: 500;
}

// change the position of the switch box
.switch-box{
  position: absolute;
}

// Gap between fields
.marginTop {
  margin-top: 10px !important;
}
