<ng-container *ngIf="isLoading; else detailContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading Detail...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #detailContent>
  <div class="card">
    <div class="card-header">
      <strong>Product Brand Profile</strong>
    </div>
    <div class="card-body">
      <strong>Product Brand Information</strong>
      <div class="card-header-actions d-flex">
        <span class="mr-3 d-sm-down-none font-weight-bold">{{productBrandStatus}}</span>
        <label class="switch switch-info">
          <input (click)="toggleActive()" type="checkbox" class="switch-input" [checked]="isActive">
          <span class="switch-slider"></span>
        </label>
      </div>  
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Brand No.</dt>
            <dd class="col-sm-8">{{productBrandInformation.product_brand_no || 'N/A'}}</dd>

            <dt class="col-sm-4">Product Brand Name</dt>
            <dd class="col-sm-8">{{productBrandInformation.product_brand_name}}</dd>

            <dt class="col-sm-4">Product Brand Image</dt>
            <dd class="col-sm-8"><img [src]="productBrandInformation.product_brand_image"
                                      class="img-thumbnail" alt="Product Brand Image"></dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Brand ID</dt>
            <dd class="col-sm-8">{{productBrandInformation._id}}</dd>
          </dl>
        </div>
      </div>
      <strong>Document Information</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Brand Created Date</dt>
            <dd class="col-sm-8">{{productBrandInformation.product_brand_created_date | date: 'medium'}}
            </dd>

            <dt class="col-sm-4">Product Brand Modified Date</dt>
            <dd class="col-sm-8">{{productBrandInformation.product_brand_modified_date | date: 'medium'}}
            </dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Brand Status</dt>
            <dd class="col-sm-8">
              {{productBrandInformation.product_brand_status_is_active ? 'Active' : 'Inactive'}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
      <div class="card-header-actions">
        <button class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-close"></i> Delete</button>
      </div>
    </div>
  </div>
</ng-template>
