<ng-container *ngIf="isLoading; else detailContent">
  <div class="card">
    <div class="card-header">
      <strong>Loading Detail...</strong>
    </div>
    <div class="card-body">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</ng-container>
<ng-template #detailContent>
  <div class="card">
    <div class="card-header">
      <strong>Product Profile</strong>
    </div>
    <div class="card-body">
      <strong>Product Information</strong>
      <div class="card-header-actions d-flex">
        <span class="mr-3 d-sm-down-none font-weight-bold">{{productStatus}}</span>
        <label class="switch switch-info">
          <input (click)="toggleActive()" type="checkbox" class="switch-input" [checked]="isActive">
          <span class="switch-slider"></span>
        </label>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product No.</dt>
            <dd class="col-sm-8">{{product.product_no || 'N/A'}}</dd>

            <dt class="col-sm-4">Product Name</dt>
            <dd class="col-sm-8">{{product.product_name}}</dd>

            <dt class="col-sm-4">Product Vendor</dt>
            <dd class="col-sm-8"><span class="badge rounded-pill bg-secondary">Vendor1</span></dd>

            <dt class="col-sm-4">Product Promotions</dt>
            <dd class="col-sm-8">
              <span *ngFor="let promotion of product.product_promotions"
                    class="badge rounded-pill bg-secondary mr-1">{{promotion.promotion_title}}</span>
            </dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product ID</dt>
            <dd class="col-sm-8">{{product._id}}</dd>

            <dt class="col-sm-4">Product Category</dt>
            <dd class="col-sm-8"><span
              class="badge rounded-pill bg-secondary">{{product.product_category.product_category_name}}</span>
            </dd>

            <dt class="col-sm-4">Product Brand</dt>
            <dd class="col-sm-8"> <span
              class="badge rounded-pill bg-secondary">{{product.product_brand.product_brand_name}}</span>
            </dd>

            <dt class="col-sm-4">Product Clicked</dt>
            <dd class="col-sm-8">
              {{product.product_clicked || "0"}}</dd>
          </dl>
        </div>
        <div class="col-12">
          <dl class="row image">
            <dt class="col-sm-4 col-lg-2">Product Images</dt>
            <dd class="col-sm-8 col-lg-10">
              <img *ngFor="let imageUrl of product.product_images" [src]="imageUrl"
                   class="img-thumbnail" alt="Product Image">
            </dd>
          </dl>
        </div>
      </div>
      <strong class="mt-3">Product Description</strong>
      <hr>
      <div class="row">
        <div class="col-12">
          <dl class="row">
            <dt class="col-sm-2">Product Overview</dt>
            <dd class="col-sm-10">{{product.product_overview}}</dd>

            <dt class="col-sm-2">Product Description</dt>
            <dd class="col-sm-10">{{product.product_description}}</dd>

            <dt class="col-sm-2">Product Warranty Text</dt>
            <dd class="col-sm-10">
              {{product.product_warranty_text || "N/A"}}
            </dd>
          </dl>
        </div>
      </div>
      <strong>Product Specification</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <ng-container *ngFor="let specification of product.product_specification | keyvalue | sliceSpecs: 0 ">
              <dt class="col-sm-4">{{getName(specification.key) | titlecase }}</dt>
              <dd class="col-sm-8">{{specification.value}}</dd>
            </ng-container>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <ng-container *ngFor="let specification of product.product_specification | keyvalue | sliceSpecs: 1">
              <dt class="col-sm-4">{{getName(specification.key) | titlecase }}</dt>
              <dd class="col-sm-8">{{specification.value}}</dd>
            </ng-container>
          </dl>
        </div>
      </div>
      <strong>Product Price & Quantity</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Quantity In Stock</dt>
            <dd class="col-sm-8">
              {{product.product_quantity || "0"}}</dd>

            <dt class="col-sm-4">Product Cost Price</dt>
            <dd class="col-sm-8">
              {{"Rs." + (product.product_cost_price || "N/A")}}
            </dd>

            <dt class="col-sm-4">Product Selling Price</dt>
            <dd class="col-sm-8">
              {{"Rs." + (product.product_selling_price || "N/A")}}
            </dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Discount Percentage</dt>
            <dd class="col-sm-8">
              {{product.product_discount_percentage || "0"}}
            </dd>

            <dt class="col-sm-4">Product Commission Percentage</dt>
            <dd class="col-sm-8">
              {{product.product_commission_percentage || "0"}}
            </dd>

            <dt class="col-sm-4">Product Shipping</dt>
            <dd class="col-sm-8">
              <span *ngFor="let shipping of product.product_shipping"
                    class="badge rounded-pill bg-secondary mr-1">{{shipping.shipping_name}}</span>
            </dd>
          </dl>
        </div>
      </div>
      <strong>Document Information</strong>
      <hr>
      <div class="row">
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Created Date</dt>
            <dd class="col-sm-8">
              {{product.product_created_date | date: 'medium'}}</dd>

            <dt class="col-sm-4">Product Created Date</dt>
            <dd class="col-sm-8">
              {{product.product_modified_date | date: 'medium'}}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl class="row">
            <dt class="col-sm-4">Product Status</dt>
            <dd class="col-sm-8">
              {{product.product_status_is_active ? 'Active' : 'Inactive'}}
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-primary" (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
      <button class="btn btn-sm btn-secondary" (click)="back()"><i class="fa fa-arrow-left"></i> Back</button>
      <div class="card-header-actions">
        <button class="btn btn-sm btn-danger" (click)="delete()"><i class="fa fa-close"></i> Delete</button>
      </div>
    </div>
  </div>
</ng-template>
