<div *ngFor="let alert of alerts">
  <alert [type]="alert.type"
         [dismissible]="dismissible"
         [dismissOnTimeout]="alertTimeout"
         (onClosed)="onClosed(alert)"><strong>{{alert.title}}</strong> {{alert.text}}</alert>
</div>
